#pastleads{
    background: linear-gradient(#a1481f,#531c02);
    height:2200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.head-lead{
    font-size: 50px;
    text-align:center;
    margin-top: 10px;
    margin-bottom:30px;
    color:white;
    font-size: 50px;
    text-shadow: 0 0 10px #130000, 0 0 8px #350303;
}
#btn-past{
    background-color: #fc9a6c65;
    align-items: center;
    margin-left:450px;
    color:black;
    margin-top:50px;
    border-style: none;
    border-radius:10px;
    height: 40px;
    width: 500px;
    padding: 5px;
    padding-left:140px;
}
.container-even-hist{
    padding:10px 50px;
    position: relative;
    background: #ce5d288f;
    box-shadow: 0px 10px 10px 0px #0e0101;
    width:50%;
}
.text-box-hist{
    padding: 20px 30px;
    background: #fc9a6c6e;
    position:relative;
    border-radius: 6px;
}

.linkedin-icon{
    margin-bottom:10px;
}
.lead-img{
    height: 300px;
}