#history{
    background: linear-gradient(#df9f14,#a1481f);
    height:800px;
}

.inform-hist{
    color:white;
    font-size: 20px;
    display: inline-block;
    font-size: 20px;
    margin:20px;
    margin-left:50px;
    height:300px;
}
.head-hist{
    text-align:center;
    color:white;
    font-size: 50px;
    text-shadow: 0 0 20px #130000, 0 0 10px #7e0b0b;
}
#btn-hist{
    background-color: rgba(59, 23, 1, 0.575);
    align-items: center;
    margin-left:450px;
    color:aliceblue;
    margin-top:50px;
    border-style: none;
    border-radius:10px;
    height: 40px;
    width: 500px;
    padding: 5px;
    padding-left:100px;
}
.styling-hist{
    height:30px;
}
.yt-jgec-hist{
    margin-left:30%;
    margin-top:-100px;
}