.footer{
    height:100px;
    background-color: rgb(59, 3, 3);
}
.copyright{
    color:white;
    font-size:20px;
    justify-content: space-between;
    display: flex;
}
.icons-link{
    margin-right:100px;
    margin-top:40px;
    justify-content: space-between;
}
.tania{
    margin-left:50px;
    margin-top:40px;
}