#events{
    background: linear-gradient(#ecc903,#df9f14);
    height:1700px;
}



.head-event{
    text-align: center;
    color:white;
    font-size: 50px;
    text-shadow: 0 0 20px #160303, 0 0 10px #7e0b0b;
}
.timeline{
    position:relative;
    margin:100px auto;
}
.container-even{
    padding:10px 50px;
    position: relative;
    background: #b3950ed7;
    box-shadow: 0px 10px 10px 0px #0e0101;
    width:50%;
}
.text-box{
    padding: 20px 30px;
    background: rgba(235, 210, 69, 0.63);
    position:relative;
    border-radius: 6px;
}
.left-container{
    left:0;
}
.right-container{
    left:50%;
}
.img-gdsc{
    height:200px;
}
/*.timeline::after{
    /*content:'';
    position:absolute;
    width:6px;
    height:1005;
    top:0;
    left:50%;
    margin-left: -3px;
    z-index: -1;
    background-color: black;
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    right: -10px;
    background-color:#e64f29;
    top:0;
    left:45%;
    border-radius: 50%;
    z-index: -1;
}*/
.styling-even{
    background:#ecc903;
    height:40px;
}

#btn-event{
    background-color: rgba(105, 62, 6, 0.575);
    align-items: center;
    margin-left:450px;
    color:white;
    margin-top:50px;
    border-style: none;
    border-radius:10px;
    height: 40px;
    width: 500px;
    padding: 5px;
    padding-left:100px;
}